<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
</head>
<body>
<p>Choose data for process</p>

{% for i in rawdata %}
<a href="{{ url_for('process.basicpreprocess', filename=i) }}">{{ i }}</a>
<br>
{% endfor %}

<p>Choose which prophet data you want to examine</p>

{% for i in prophetdata %}

    {{ i }}
<br>

{% endfor %}
<br>
<p>These data files are not up to date click to update them!!!!!</p>
{% for i in not_usable_prophet_data %}
    <a href="{{ url_for('process.update_prophet_data', filename=i) }}">{{ i }}</a>
{% endfor %}


</body>
</html>